n8n/workflows/02-diretor.json
{
  "name": "02 — Diretor (Claude → plano)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trig",
      "name": "Manual — testar agora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ],
      "notesInFlow": true,
      "notes": "Clica Execute workflow para processar 1 projeto com estado=ingerido."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "sched-trig",
      "name": "Schedule — a cada 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ],
      "notesInFlow": true,
      "notes": "Em produção: Active/Published. Desliga se preferires só Manual."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projetos",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "estado=eq.ingerido"
      },
      "id": "supa-list",
      "name": "Supabase — projetos ingeridos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "notesInFlow": true,
      "notes": "Credencial: Supabase account. Se o filtro da UI for diferente, usa Filter: estado = ingerido."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem",
      "name": "IF — há projeto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-1",
      "name": "Limit — 1 projeto",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        760,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "arquivos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=projeto_id=eq.{{ $json.id }}"
      },
      "id": "supa-arqs",
      "name": "Supabase — arquivos do projeto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const projeto = $('Limit — 1 projeto').item.json;\nconst arquivos = $input.all().map(i => i.json);\n\nconst lista = arquivos.map(a => ({\n  nome: a.nome,\n  tipo: a.tipo,\n  drive_file_id: a.drive_file_id\n}));\n\nconst foto = lista.find(a => a.tipo === 'foto') || null;\n\nreturn [{\n  json: {\n    projeto_id: projeto.id,\n    brief: projeto.brief || '',\n    tipo_entrada: projeto.tipo_entrada,\n    pasta_drive_id: projeto.pasta_drive_id,\n    arquivos: lista,\n    foto_drive_id: foto ? foto.drive_file_id : null,\n    foto_nome: foto ? foto.nome : null,\n    foto_mime: 'image/jpeg'\n  }\n}];"
      },
      "id": "code-ctx",
      "name": "Code — montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.foto_drive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-foto",
      "name": "IF — tem foto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.foto_drive_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "id": "drive-dl",
      "name": "Drive — download foto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        -200
      ],
      "notesInFlow": true,
      "notes": "Credencial Google Drive. Binary fica em 'data'."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Code — montar contexto').item.json;\nconst bin = items[0].binary && items[0].binary.data;\nlet mediaType = (bin && bin.mimeType) ? bin.mimeType : ctx.foto_mime;\nif (mediaType === 'image/jpg') mediaType = 'image/jpeg';\n\nlet imageBlock = null;\nif (bin) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  imageBlock = {\n    type: 'image',\n    source: {\n      type: 'base64',\n      media_type: mediaType,\n      data: buffer.toString('base64')\n    }\n  };\n}\n\nreturn [{ json: { ...ctx, imageBlock } }];"
      },
      "id": "code-b64",
      "name": "Code — foto → base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "projeto_id",
              "value": "={{ $json.projeto_id }}",
              "type": "string"
            },
            {
              "id": "x2",
              "name": "brief",
              "value": "={{ $json.brief }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "tipo_entrada",
              "value": "={{ $json.tipo_entrada }}",
              "type": "string"
            },
            {
              "id": "x4",
              "name": "arquivos",
              "value": "={{ $json.arquivos }}",
              "type": "array"
            },
            {
              "id": "x5",
              "name": "foto_nome",
              "value": "={{ $json.foto_nome }}",
              "type": "string"
            },
            {
              "id": "x6",
              "name": "imageBlock",
              "value": "={{ undefined }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sem-foto",
      "name": "Set — sem foto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1720,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nconst system = `# Agente Diretor — v0.2\r\n\r\nFontes adaptadas: [coreyhaines31/marketingskills](https://github.com/coreyhaines31/marketingskills) (\\`content-strategy\\`, \\`social\\`, \\`marketing-psychology\\`).\r\n\r\n## Papel\r\n\r\nÉs o Agente Diretor da OutVibe AI Content Factory. És o cérebro do sistema: nunca crias conteúdo, nunca escreves legendas. A tua única função é analisar, planear e coordenar.\r\n\r\n## Entrada\r\n\r\nRecebes um projeto com:\r\n- Brief em texto (ideia, tema, notas do utilizador)\r\n- Fotos (analisa-as diretamente: o que mostram, energia, contexto, qualidade)\r\n- Metadados (data, categoria, campanha se existir)\r\n\r\n## Tarefa\r\n\r\nAnalisa o material e devolve um plano de produção em JSON, **sem mais nenhum texto antes ou depois**:\r\n\r\n\\`\\`\\`json\r\n{\r\n  \"projeto_id\": \"...\",\r\n  \"agente\": \"diretor\",\r\n  \"status\": \"ok\",\r\n  \"resultado\": {\r\n    \"tema\": \"...\",\r\n    \"objetivo\": \"educar | inspirar | vender | comunidade\",\r\n    \"publico_alvo\": \"...\",\r\n    \"tom_de_voz\": \"...\",\r\n    \"angulo_principal\": \"a ideia central que torna este conteúdo interessante\",\r\n    \"pilar_conteudo\": \"educativo | bastidores | prova_social | oferta | comunidade\",\r\n    \"plano_de_conteudos\": [\r\n      {\r\n        \"tipo\": \"post_instagram | carrossel | post_linkedin | post_threads | post_tiktok_foto\",\r\n        \"quantidade\": 1,\r\n        \"prioridade\": \"alta | media | baixa\",\r\n        \"hook_sugerido_tipo\": \"curiosidade | historia | valor | contrario | prova\",\r\n        \"notas_para_copywriter\": \"...\",\r\n        \"fotos_sugeridas\": [\"nome_do_ficheiro.jpg\"]\r\n      }\r\n    ],\r\n    \"cta_da_campanha\": \"...\",\r\n    \"data_sugerida_publicacao\": \"YYYY-MM-DD\"\r\n  },\r\n  \"qualidade\": 0,\r\n  \"problemas\": [],\r\n  \"proximo_agente\": \"copywriter\"\r\n}\r\n\\`\\`\\`\r\n\r\n## Como planear (estratégia)\r\n\r\n1. **Jobs to be done** — Que \"trabalho\" este conteúdo faz na vida do leitor? (aprender, sentir-se visto, decidir comprar, pertencer)\r\n2. **Um ângulo** — Se removesses o ângulo, o post seria genérico? Se sim, aprofunda.\r\n3. **Pilares (MVP Instagram)** — Preferir mix ao longo do tempo; neste projeto escolhe **um** \\`pilar_conteudo\\` dominante.\r\n4. **Formato ↔ material**:\r\n   - 1 foto forte + mensagem única → \\`post_instagram\\`\r\n   - Várias fotos / passos / lista → \\`carrossel\\`\r\n   - LinkedIn / Threads / TikTok só se o brief pedir explicitamente (MVP = foco IG)\r\n5. **Pareto** — Máx. 5 conteúdos. Prioridade alta só no que as fotos sustentam bem.\r\n6. **CTA da campanha** — Verbo + benefício concreto (não \"engajar\" / \"saber mais\").\r\n\r\n## Notas para o Copywriter (obrigatório em cada item)\r\n\r\nEm \\`notas_para_copywriter\\` inclui:\r\n- Ângulo em 1 frase\r\n- Tipo de hook sugerido\r\n- O que realçar nas fotos (detalhe concreto)\r\n- Tom (direto / caloroso / desafiante) e o que evitar\r\n- Promessa que **não** se pode fazer (compliance)\r\n\r\n## Análise de fotos\r\n\r\nSe as fotos forem fracas, borradas, sem contexto ou desalinhadas do brief:\r\n- \\`status: \"precisa_revisao\"\\`\r\n- Lista problemas concretos (ex.: \"foto 2 sem rosto/produto visível\", \"brief sem CTA\")\r\n- Não inventes um plano forçado\r\n\r\n## Tom OutVibe\r\n\r\nDireto, energético, humano. Sem promessas exageradas. Sem ângulos de \"hustle tóxico\".\r\n\r\n## Auto-avaliação \\`qualidade\\` (0–100)\r\n\r\n- Material suficiente e bem lido (+25)\r\n- Ângulo distinto (+25)\r\n- Formatos certos para as fotos (+20)\r\n- Notas úteis para o Copywriter (+20)\r\n- CTA e data realistas (+10)\r\n\r\n## Regras\r\n\r\n1. Se o material for fraco ou insuficiente: \\`problemas\\` + \\`status: \"precisa_revisao\"\\`.\r\n2. Máximo de 5 conteúdos por projeto no MVP. Qualidade > quantidade.\r\n3. Nunca produzas o conteúdo final — isso é trabalho do Copywriter.\r\n4. \\`status\\` **só**: \\`ok\\` | \\`erro\\` | \\`precisa_revisao\\` (nunca \\`completo\\`).\r\n5. \\`qualidade\\` é um **inteiro 0–100**, não um objeto.\r\n6. No MVP, privilegia tipos Instagram (\\`post_instagram\\`, \\`carrossel\\`) salvo pedido explícito no brief.\r\n`;\n\nconst userText = [\n  'Analisa este projeto e devolve APENAS o JSON do plano.',\n  '',\n  `projeto_id: ${ctx.projeto_id}`,\n  `tipo_entrada: ${ctx.tipo_entrada}`,\n  `brief: ${ctx.brief || '(sem brief textual — usa a imagem / nome do ficheiro)'}`,\n  `arquivos: ${JSON.stringify(ctx.arquivos || [])}`,\n  ctx.foto_nome ? `foto_principal: ${ctx.foto_nome}` : 'foto_principal: nenhuma',\n  '',\n  'Se houver imagem em anexo neste pedido, analisa-a visualmente.'\n].join('\\n');\n\nconst content = [];\nif (ctx.imageBlock) content.push(ctx.imageBlock);\ncontent.push({ type: 'text', text: userText });\n\nconst body = {\n  model: 'claude-sonnet-4-5',\n  max_tokens: 4096,\n  system,\n  messages: [{ role: 'user', content }]\n};\n\nreturn [{ json: { projeto_id: ctx.projeto_id, anthropicBody: body } }];"
      },
      "id": "code-prompt",
      "name": "Code — prompt Diretor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "http-claude",
      "name": "HTTP — Claude (Diretor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        -80
      ],
      "notesInFlow": true,
      "notes": "Credencial Anthropic OutVibe. Modelo claude-sonnet-4-5 — se 404, troca no Code — prompt Diretor."
    },
    {
      "parameters": {
        "jsCode": "const projetoId = $('Code — prompt Diretor').item.json.projeto_id;\nconst resp = $input.first().json;\n\nconst text = (resp.content || [])\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n')\n  .trim();\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    projeto_id: projetoId,\n    agente: 'diretor',\n    status: 'erro',\n    resultado: {},\n    qualidade: 0,\n    problemas: ['Resposta do Claude não era JSON válido: ' + e.message, text.slice(0, 500)],\n    proximo_agente: null\n  };\n}\n\nparsed.projeto_id = parsed.projeto_id || projetoId;\nparsed.agente = 'diretor';\n\n// Normalizar status (modelos às vezes devolvem \"completo\", \"success\", etc.)\nconst raw = String(parsed.status || '').toLowerCase().trim();\nconst okAliases = new Set(['ok', 'completo', 'complete', 'success', 'sucesso', 'done']);\nconst reviewAliases = new Set(['precisa_revisao', 'revisao', 'review', 'needs_review']);\nconst errAliases = new Set(['erro', 'error', 'fail', 'failed']);\n\nif (okAliases.has(raw)) parsed.status = 'ok';\nelse if (reviewAliases.has(raw)) parsed.status = 'precisa_revisao';\nelse if (errAliases.has(raw)) parsed.status = 'erro';\nelse if (parsed.resultado && (parsed.resultado.plano_de_conteudos || parsed.resultado.tema)) {\n  // Tem plano útil mas status fora do enum → tratar como ok\n  parsed.status = 'ok';\n  parsed.problemas = (parsed.problemas || []).concat(['status original normalizado: ' + raw]);\n} else {\n  parsed.status = 'erro';\n}\n\n// qualidade: schema pede 0-100 integer\nif (parsed.qualidade && typeof parsed.qualidade === 'object') {\n  const n = Number(parsed.qualidade.nota);\n  parsed.qualidade = Number.isFinite(n) ? Math.round(n * (n <= 10 ? 10 : 1)) : 0;\n}\n\nconst estado = parsed.status === 'ok' ? 'planeado' : 'erro';\n\nreturn [{\n  json: {\n    projeto_id: projetoId,\n    estado,\n    plano: parsed,\n    status_agente: parsed.status,\n    mensagem_log: parsed.status === 'ok'\n      ? 'Plano do Diretor gravado'\n      : ('Diretor: ' + (parsed.status || 'erro'))\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Code — parse plano JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "projetos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.projeto_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "plano",
              "fieldValue": "={{ $json.plano }}"
            }
          ]
        }
      },
      "id": "supa-upd",
      "name": "Supabase — gravar plano",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2920,
        -80
      ],
      "notesInFlow": true,
      "notes": "Update por id. Campo plano (jsonb) + estado planeado|erro."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "diretor"
            },
            {
              "fieldId": "nivel",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.status_agente === 'ok' ? 'info' : 'warn' }}"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.mensagem_log }}"
            }
          ]
        }
      },
      "id": "supa-log2",
      "name": "Supabase — log diretor",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3160,
        -80
      ]
    }
  ],
  "connections": {
    "Manual — testar agora": {
      "main": [
        [
          {
            "node": "Supabase — projetos ingeridos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — a cada 2 min": {
      "main": [
        [
          {
            "node": "Supabase — projetos ingeridos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — projetos ingeridos": {
      "main": [
        [
          {
            "node": "IF — há projeto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — há projeto?": {
      "main": [
        [
          {
            "node": "Limit — 1 projeto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit — 1 projeto": {
      "main": [
        [
          {
            "node": "Supabase — arquivos do projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — arquivos do projeto": {
      "main": [
        [
          {
            "node": "Code — montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — montar contexto": {
      "main": [
        [
          {
            "node": "IF — tem foto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — tem foto?": {
      "main": [
        [
          {
            "node": "Drive — download foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — sem foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — download foto": {
      "main": [
        [
          {
            "node": "Code — foto → base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — foto → base64": {
      "main": [
        [
          {
            "node": "Code — prompt Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — sem foto": {
      "main": [
        [
          {
            "node": "Code — prompt Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — prompt Diretor": {
      "main": [
        [
          {
            "node": "HTTP — Claude (Diretor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Claude (Diretor)": {
      "main": [
        [
          {
            "node": "Code — parse plano JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — parse plano JSON": {
      "main": [
        [
          {
            "node": "Supabase — gravar plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — gravar plano": {
      "main": [
        [
          {
            "node": "Supabase — log diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "outvibe": {
      "fase": 2,
      "prompt": "agents/prompts/diretor.md",
      "modelo": "claude-sonnet-4-5"
    }
  },
  "pinData": {},
  "tags": []
}