n8n/workflows/02-diretor.json
{
  "name": "02 — Diretor (Claude → plano)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trig",
      "name": "Manual — testar agora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, -120],
      "notesInFlow": true,
      "notes": "Clica Execute workflow para processar 1 projeto com estado=ingerido."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "sched-trig",
      "name": "Schedule — a cada 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 120],
      "notesInFlow": true,
      "notes": "Em produção: Active/Published. Desliga se preferires só Manual."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projetos",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "estado=eq.ingerido"
      },
      "id": "supa-list",
      "name": "Supabase — projetos ingeridos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [280, 0],
      "notesInFlow": true,
      "notes": "Credencial: Supabase account. Se o filtro da UI for diferente, usa Filter: estado = ingerido."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem",
      "name": "IF — há projeto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-1",
      "name": "Limit — 1 projeto",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [760, -80]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "arquivos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=projeto_id=eq.{{ $json.id }}"
      },
      "id": "supa-arqs",
      "name": "Supabase — arquivos do projeto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, -80]
    },
    {
      "parameters": {
        "jsCode": "const projeto = $('Limit — 1 projeto').item.json;\nconst arquivos = $input.all().map(i => i.json);\n\nconst lista = arquivos.map(a => ({\n  nome: a.nome,\n  tipo: a.tipo,\n  drive_file_id: a.drive_file_id\n}));\n\nconst foto = lista.find(a => a.tipo === 'foto') || null;\n\nreturn [{\n  json: {\n    projeto_id: projeto.id,\n    brief: projeto.brief || '',\n    tipo_entrada: projeto.tipo_entrada,\n    pasta_drive_id: projeto.pasta_drive_id,\n    arquivos: lista,\n    foto_drive_id: foto ? foto.drive_file_id : null,\n    foto_nome: foto ? foto.nome : null,\n    foto_mime: 'image/jpeg'\n  }\n}];"
      },
      "id": "code-ctx",
      "name": "Code — montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, -80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.foto_drive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-foto",
      "name": "IF — tem foto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1480, -80]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.foto_drive_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "id": "drive-dl",
      "name": "Drive — download foto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1720, -200],
      "notesInFlow": true,
      "notes": "Credencial Google Drive. Binary fica em 'data'."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Code — montar contexto').item.json;\nconst bin = items[0].binary && items[0].binary.data;\nlet mediaType = (bin && bin.mimeType) ? bin.mimeType : ctx.foto_mime;\nif (mediaType === 'image/jpg') mediaType = 'image/jpeg';\n\nlet imageBlock = null;\nif (bin) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  imageBlock = {\n    type: 'image',\n    source: {\n      type: 'base64',\n      media_type: mediaType,\n      data: buffer.toString('base64')\n    }\n  };\n}\n\nreturn [{ json: { ...ctx, imageBlock } }];"
      },
      "id": "code-b64",
      "name": "Code — foto → base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "projeto_id",
              "value": "={{ $json.projeto_id }}",
              "type": "string"
            },
            {
              "id": "x2",
              "name": "brief",
              "value": "={{ $json.brief }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "tipo_entrada",
              "value": "={{ $json.tipo_entrada }}",
              "type": "string"
            },
            {
              "id": "x4",
              "name": "arquivos",
              "value": "={{ $json.arquivos }}",
              "type": "array"
            },
            {
              "id": "x5",
              "name": "foto_nome",
              "value": "={{ $json.foto_nome }}",
              "type": "string"
            },
            {
              "id": "x6",
              "name": "imageBlock",
              "value": "={{ undefined }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sem-foto",
      "name": "Set — sem foto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1720, 40]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nconst system = `# Agente Diretor — v0.1\\n\\n## Papel\\n\\nÉs o Agente Diretor da OutVibe AI Content Factory. És o cérebro do sistema: nunca crias conteúdo, nunca escreves legendas. A tua única função é analisar, planear e coordenar.\\n\\n## Entrada\\n\\nRecebes um projeto com:\\n- Brief em texto (ideia, tema, notas do utilizador)\\n- Fotos (analisa-as diretamente: o que mostram, energia, contexto, qualidade)\\n- Metadados (data, categoria, campanha se existir)\\n\\n## Tarefa\\n\\nAnalisa o material e devolve um plano de produção em JSON, **sem mais nenhum texto antes ou depois**.\\n\\nO JSON deve seguir exactamente o schema OutVibe (projeto_id, agente=\\\"diretor\\\", status, resultado, qualidade, problemas, proximo_agente).\\n\\nresultado inclui: tema, objetivo (educar|inspirar|vender|comunidade), publico_alvo, tom_de_voz, angulo_principal, plano_de_conteudos (máx 5), cta_da_campanha, data_sugerida_publicacao (YYYY-MM-DD).\\n\\n## Regras\\n\\n1. Se o material for fraco ou insuficiente, di-lo em problemas e usa status: \\\"precisa_revisao\\\" — não inventes um plano forçado.\\n2. Máximo de 5 conteúdos por projeto no MVP. Qualidade > quantidade.\\n3. O tom da OutVibe: direto, energético, sem promessas exageradas.\\n4. Nunca produzas o conteúdo final — isso é trabalho do Copywriter.\\n5. Usa o projeto_id exacto que te for dado.`;\n\nconst userText = [\n  'Analisa este projeto e devolve APENAS o JSON do plano.',\n  '',\n  `projeto_id: ${ctx.projeto_id}`,\n  `tipo_entrada: ${ctx.tipo_entrada}`,\n  `brief: ${ctx.brief || '(sem brief textual — usa a imagem / nome do ficheiro)'}`,\n  `arquivos: ${JSON.stringify(ctx.arquivos || [])}`,\n  ctx.foto_nome ? `foto_principal: ${ctx.foto_nome}` : 'foto_principal: nenhuma',\n  '',\n  'Se houver imagem em anexo neste pedido, analisa-a visualmente.'\n].join('\\n');\n\nconst content = [];\nif (ctx.imageBlock) content.push(ctx.imageBlock);\ncontent.push({ type: 'text', text: userText });\n\nconst body = {\n  model: 'claude-sonnet-4-5',\n  max_tokens: 4096,\n  system,\n  messages: [{ role: 'user', content }]\n};\n\nreturn [{ json: { projeto_id: ctx.projeto_id, anthropicBody: body } }];"
      },
      "id": "code-prompt",
      "name": "Code — prompt Diretor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "http-claude",
      "name": "HTTP — Claude (Diretor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, -80],
      "notesInFlow": true,
      "notes": "Credencial Anthropic OutVibe. Modelo claude-sonnet-4-5 — se 404, troca no Code — prompt Diretor."
    },
    {
      "parameters": {
        "jsCode": "const projetoId = $('Code — prompt Diretor').item.json.projeto_id;\nconst resp = $input.first().json;\n\nconst text = (resp.content || [])\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n')\n  .trim();\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    projeto_id: projetoId,\n    agente: 'diretor',\n    status: 'erro',\n    resultado: {},\n    qualidade: 0,\n    problemas: ['Resposta do Claude não era JSON válido: ' + e.message, text.slice(0, 500)],\n    proximo_agente: null\n  };\n}\n\nparsed.projeto_id = parsed.projeto_id || projetoId;\nparsed.agente = 'diretor';\n\nconst estado = parsed.status === 'ok' ? 'planeado' : (parsed.status === 'precisa_revisao' ? 'erro' : 'erro');\n\nreturn [{\n  json: {\n    projeto_id: projetoId,\n    estado,\n    plano: parsed,\n    status_agente: parsed.status,\n    mensagem_log: parsed.status === 'ok'\n      ? 'Plano do Diretor gravado'\n      : ('Diretor: ' + (parsed.status || 'erro'))\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Code — parse plano JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, -80]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "projetos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.projeto_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "plano",
              "fieldValue": "={{ $json.plano }}"
            }
          ]
        }
      },
      "id": "supa-upd",
      "name": "Supabase — gravar plano",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2920, -80],
      "notesInFlow": true,
      "notes": "Update por id. Campo plano (jsonb) + estado planeado|erro."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "diretor"
            },
            {
              "fieldId": "nivel",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.status_agente === 'ok' ? 'info' : 'warn' }}"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('Code — parse plano JSON').item.json.mensagem_log }}"
            }
          ]
        }
      },
      "id": "supa-log2",
      "name": "Supabase — log diretor",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3160, -80]
    }
  ],
  "connections": {
    "Manual — testar agora": {
      "main": [[{ "node": "Supabase — projetos ingeridos", "type": "main", "index": 0 }]]
    },
    "Schedule — a cada 2 min": {
      "main": [[{ "node": "Supabase — projetos ingeridos", "type": "main", "index": 0 }]]
    },
    "Supabase — projetos ingeridos": {
      "main": [[{ "node": "IF — há projeto?", "type": "main", "index": 0 }]]
    },
    "IF — há projeto?": {
      "main": [
        [{ "node": "Limit — 1 projeto", "type": "main", "index": 0 }],
        []
      ]
    },
    "Limit — 1 projeto": {
      "main": [[{ "node": "Supabase — arquivos do projeto", "type": "main", "index": 0 }]]
    },
    "Supabase — arquivos do projeto": {
      "main": [[{ "node": "Code — montar contexto", "type": "main", "index": 0 }]]
    },
    "Code — montar contexto": {
      "main": [[{ "node": "IF — tem foto?", "type": "main", "index": 0 }]]
    },
    "IF — tem foto?": {
      "main": [
        [{ "node": "Drive — download foto", "type": "main", "index": 0 }],
        [{ "node": "Set — sem foto", "type": "main", "index": 0 }]
      ]
    },
    "Drive — download foto": {
      "main": [[{ "node": "Code — foto → base64", "type": "main", "index": 0 }]]
    },
    "Code — foto → base64": {
      "main": [[{ "node": "Code — prompt Diretor", "type": "main", "index": 0 }]]
    },
    "Set — sem foto": {
      "main": [[{ "node": "Code — prompt Diretor", "type": "main", "index": 0 }]]
    },
    "Code — prompt Diretor": {
      "main": [[{ "node": "HTTP — Claude (Diretor)", "type": "main", "index": 0 }]]
    },
    "HTTP — Claude (Diretor)": {
      "main": [[{ "node": "Code — parse plano JSON", "type": "main", "index": 0 }]]
    },
    "Code — parse plano JSON": {
      "main": [[{ "node": "Supabase — gravar plano", "type": "main", "index": 0 }]]
    },
    "Supabase — gravar plano": {
      "main": [[{ "node": "Supabase — log diretor", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "outvibe": {
      "fase": 2,
      "prompt": "agents/prompts/diretor.md",
      "modelo": "claude-sonnet-4-5"
    }
  },
  "pinData": {},
  "tags": []
}
