n8n/workflows/03-copywriter.json
{
  "name": "03 — Copywriter (Claude → texto-mãe)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trig",
      "name": "Manual — testar agora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ],
      "notesInFlow": true,
      "notes": "Execute para processar 1 projeto com estado=planeado."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "sched-trig",
      "name": "Schedule — a cada 3 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projetos",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "estado=eq.planeado"
      },
      "id": "supa-list",
      "name": "Supabase — projetos planeados",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "notesInFlow": true,
      "notes": "Credencial Supabase. Filter estado=planeado."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem",
      "name": "IF — há projeto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-1",
      "name": "Limit — 1 projeto",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        760,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "arquivos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=projeto_id=eq.{{ $json.id }}"
      },
      "id": "supa-arqs",
      "name": "Supabase — arquivos do projeto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const projeto = $('Limit — 1 projeto').item.json;\nconst arquivos = $input.all().map(i => i.json);\nconst lista = arquivos.map(a => ({ nome: a.nome, tipo: a.tipo, drive_file_id: a.drive_file_id }));\nconst foto = lista.find(a => a.tipo === 'foto') || null;\n\nreturn [{\n  json: {\n    projeto_id: projeto.id,\n    brief: projeto.brief || '',\n    tipo_entrada: projeto.tipo_entrada,\n    plano: projeto.plano,\n    arquivos: lista,\n    foto_drive_id: foto ? foto.drive_file_id : null,\n    foto_nome: foto ? foto.nome : null,\n    foto_mime: 'image/jpeg'\n  }\n}];"
      },
      "id": "code-ctx",
      "name": "Code — montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.foto_drive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-foto",
      "name": "IF — tem foto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.foto_drive_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "id": "drive-dl",
      "name": "Drive — download foto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Code — montar contexto').item.json;\nconst bin = items[0].binary && items[0].binary.data;\nlet mediaType = (bin && bin.mimeType) ? bin.mimeType : ctx.foto_mime;\nif (mediaType === 'image/jpg') mediaType = 'image/jpeg';\n\nlet imageBlock = null;\nif (bin) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  imageBlock = {\n    type: 'image',\n    source: { type: 'base64', media_type: mediaType, data: buffer.toString('base64') }\n  };\n}\n\nreturn [{ json: { ...ctx, imageBlock } }];"
      },
      "id": "code-b64",
      "name": "Code — foto → base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "projeto_id",
              "value": "={{ $json.projeto_id }}",
              "type": "string"
            },
            {
              "id": "x2",
              "name": "brief",
              "value": "={{ $json.brief }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "plano",
              "value": "={{ $json.plano }}",
              "type": "object"
            },
            {
              "id": "x4",
              "name": "arquivos",
              "value": "={{ $json.arquivos }}",
              "type": "array"
            },
            {
              "id": "x5",
              "name": "foto_nome",
              "value": "={{ $json.foto_nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sem-foto",
      "name": "Set — sem foto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1720,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst system = \"# Agente Copywriter — v0.2\\r\\n\\r\\nFontes adaptadas: [blader/humanizer](https://github.com/blader/humanizer) + [coreyhaines31/marketingskills](https://github.com/coreyhaines31/marketingskills) (`copywriting`, `copy-editing`).\\r\\n\\r\\n## Papel\\r\\n\\r\\nÉs o Agente Copywriter da OutVibe. Recebes o plano do Diretor e produzes o **texto-mãe** de cada conteúdo. Nunca publicas e nunca adaptas por plataforma — isso é o Agente Social Media.\\r\\n\\r\\n## Entrada\\r\\n\\r\\nMensagem no formato `agents/schema.json` com:\\r\\n- `contexto`: tema, objetivo, público, tom, ângulo, CTA da campanha\\r\\n- `arquivos`: fotos do projeto (analisa-as para escrever com especificidade)\\r\\n- `memoria`: palavras proibidas, CTAs favoritos, tom aprendido\\r\\n\\r\\n## Saída (apenas JSON)\\r\\n\\r\\n```json\\r\\n{\\r\\n  \\\"projeto_id\\\": \\\"...\\\",\\r\\n  \\\"agente\\\": \\\"copywriter\\\",\\r\\n  \\\"status\\\": \\\"ok\\\",\\r\\n  \\\"resultado\\\": {\\r\\n    \\\"conteudos\\\": [\\r\\n      {\\r\\n        \\\"tipo\\\": \\\"post_instagram\\\",\\r\\n        \\\"hook\\\": \\\"primeira linha que prende em 1 segundo\\\",\\r\\n        \\\"corpo\\\": \\\"texto-mãe completo\\\",\\r\\n        \\\"cta\\\": \\\"...\\\",\\r\\n        \\\"hashtags_semente\\\": [\\\"...\\\", \\\"...\\\"],\\r\\n        \\\"texto_alternativo_foto\\\": \\\"descrição da imagem para acessibilidade\\\"\\r\\n      }\\r\\n    ]\\r\\n  },\\r\\n  \\\"qualidade\\\": 0,\\r\\n  \\\"problemas\\\": [],\\r\\n  \\\"proximo_agente\\\": \\\"social_media\\\"\\r\\n}\\r\\n```\\r\\n\\r\\n## Antes de escrever\\r\\n\\r\\n1. Quem é a pessoa concreta (não \\\"a audiência\\\")?\\r\\n2. Que problema / desejo / dúvida ela tem neste momento?\\r\\n3. Qual é a transformação ou insight (benefício > feature)?\\r\\n4. Que prova concreta tens nas fotos ou no brief? (se não houver, não inventes números)\\r\\n\\r\\n## Hook (obrigatório)\\r\\n\\r\\nEscolhe **um** tipo e escreve a 1.ª linha para parar o scroll:\\r\\n\\r\\n| Tipo | Fórmula |\\r\\n|------|---------|\\r\\n| Curiosidade | \\\"Eu estava errado sobre [crença comum].\\\" / \\\"Ninguém fala de [detalhe].\\\" |\\r\\n| História | \\\"Na semana passada, [algo inesperado].\\\" / \\\"Quase [erro grande].\\\" |\\r\\n| Valor | \\\"Como [resultado] sem [dor comum]:\\\" / \\\"Para de [erro]. Faz isto:\\\" |\\r\\n| Contrário | \\\"Opinião impopular: [afirmação].\\\" / \\\"[Conselho comum] está errado.\\\" |\\r\\n| Prova | \\\"[Resultado] em [tempo]. Como foi:\\\" |\\r\\n\\r\\nSe o hook for genérico, reescreve antes de continuar.\\r\\n\\r\\n## Princípios de copy\\r\\n\\r\\n1. Clareza > esperteza. Benefício > feature. Específico > vago.\\r\\n2. Linguagem do cliente, não jargão de marca.\\r\\n3. Uma ideia por bloco. Frases curtas. Corta ~20% do primeiro rascunho.\\r\\n4. Ativo, não passivo. Confiante, sem \\\"quase / muito / realmente\\\".\\r\\n5. CTA forte: verbo + o que a pessoa ganha (evitar \\\"Saiba mais\\\", \\\"Clica aqui\\\").\\r\\n6. Zero clichés de fitness (\\\"no pain no gain\\\", \\\"supera-te\\\", \\\"versão 2.0 de ti\\\").\\r\\n7. Sem promessas de resultados garantidos. Sem estatísticas inventadas.\\r\\n\\r\\n## Anti-padrão IA (humanizer) — checklist final\\r\\n\\r\\nAntes de devolver o JSON, varre hook + corpo + CTA:\\r\\n\\r\\n- Sem travessão (— / – / `--`). Usa ponto, vírgula ou dois-pontos.\\r\\n- Sem vocabulário típico de IA: *delve, landscape, tapestry, pivotal, underscore, showcase, vibrant, nestled, groundbreaking, testament, crucially, additionally*.\\r\\n- Sem \\\"Não é só X, é Y\\\" / \\\"Não apenas… mas também…\\\".\\r\\n- Sem triades forçadas (\\\"inovação, inspiração e insights\\\").\\r\\n- Sem emojis decorativos nem negrito mecânico no texto-mãe.\\r\\n- Sem filler: *é importante notar, no final do dia, vamos explorar, na verdade*.\\r\\n- Ritmo humano: mistura frases curtas e médias; fala com \\\"tu\\\"; opinião quando o tom pedir.\\r\\n- Específico sobre o que a foto mostra (roupa, luz, gesto, sítio), não \\\"atmosfera incrível\\\".\\r\\n\\r\\nSe falhares algum ponto, reescreve antes de responder.\\r\\n\\r\\n## Auto-avaliação `qualidade` (0–100)\\r\\n\\r\\n- Hook prende em 1s? (+25)\\r\\n- Corpo específico e sem cheiro de IA? (+25)\\r\\n- CTA claro e acionável? (+20)\\r\\n- Alinhado ao plano do Diretor (ângulo, tom, objetivo)? (+20)\\r\\n- Alt-text útil? (+10)\\r\\n\\r\\n## Regras de schema\\r\\n\\r\\n1. `status` **só**: `ok` | `erro` | `precisa_revisao` (nunca `completo`).\\r\\n2. `qualidade` é **inteiro 0–100**, não objeto.\\r\\n3. Se o plano ou o material forem insuficientes: `status: \\\"precisa_revisao\\\"` e explica em `problemas`.\\r\\n\";\n\nconst userText = [\n  'Com base no plano do Diretor abaixo, produz os textos-mãe. Devolve APENAS JSON.',\n  '',\n  'projeto_id: ' + ctx.projeto_id,\n  'brief: ' + (ctx.brief || ''),\n  'arquivos: ' + JSON.stringify(ctx.arquivos || []),\n  ctx.foto_nome ? ('foto_principal: ' + ctx.foto_nome) : 'foto_principal: nenhuma',\n  '',\n  'plano_do_diretor:',\n  JSON.stringify(ctx.plano || {}, null, 2),\n  '',\n  'Se houver imagem em anexo, usa-a para escrever com especificidade visual.'\n].join('\\n');\n\nconst content = [];\nif (ctx.imageBlock) content.push(ctx.imageBlock);\ncontent.push({ type: 'text', text: userText });\n\nconst body = {\n  model: 'claude-sonnet-4-5',\n  max_tokens: 8192,\n  system,\n  messages: [{ role: 'user', content }]\n};\n\nreturn [{ json: { projeto_id: ctx.projeto_id, anthropicBody: body } }];"
      },
      "id": "code-prompt",
      "name": "Code — prompt Copywriter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "http-claude",
      "name": "HTTP — Claude (Copywriter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        -80
      ],
      "notesInFlow": true,
      "notes": "Credencial Anthropic. Modelo no Code — prompt Copywriter."
    },
    {
      "parameters": {
        "jsCode": "const projetoId = $('Code — prompt Copywriter').item.json.projeto_id;\nconst resp = $input.first().json;\n\nconst text = (resp.content || [])\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n')\n  .trim();\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    projeto_id: projetoId,\n    agente: 'copywriter',\n    status: 'erro',\n    resultado: { conteudos: [] },\n    qualidade: 0,\n    problemas: ['JSON inválido: ' + e.message, text.slice(0, 500)],\n    proximo_agente: null\n  };\n}\n\nparsed.projeto_id = parsed.projeto_id || projetoId;\nparsed.agente = 'copywriter';\n\nconst raw = String(parsed.status || '').toLowerCase().trim();\nconst okAliases = new Set(['ok', 'completo', 'complete', 'success', 'sucesso', 'done']);\nconst reviewAliases = new Set(['precisa_revisao', 'revisao', 'review', 'needs_review']);\nif (okAliases.has(raw)) parsed.status = 'ok';\nelse if (reviewAliases.has(raw)) parsed.status = 'precisa_revisao';\nelse if (['erro', 'error', 'fail', 'failed'].includes(raw)) parsed.status = 'erro';\nelse if (parsed.resultado && Array.isArray(parsed.resultado.conteudos) && parsed.resultado.conteudos.length) {\n  parsed.status = 'ok';\n} else {\n  parsed.status = 'erro';\n}\n\nif (parsed.qualidade && typeof parsed.qualidade === 'object') {\n  const n = Number(parsed.qualidade.nota);\n  parsed.qualidade = Number.isFinite(n) ? Math.round(n * (n <= 10 ? 10 : 1)) : 0;\n}\n\nconst estado = parsed.status === 'ok' ? 'escrito' : 'erro';\nconst conteudos = (parsed.resultado && parsed.resultado.conteudos) ? parsed.resultado.conteudos : [];\n\nreturn [{\n  json: {\n    projeto_id: projetoId,\n    estado,\n    saida: parsed,\n    conteudos,\n    status_agente: parsed.status,\n    mensagem_log: parsed.status === 'ok'\n      ? ('Copywriter: ' + conteudos.length + ' texto(s)-mãe')\n      : ('Copywriter: ' + parsed.status)\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Code — parse copy JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\nconst rows = [];\n\nif (base.status_agente === 'ok' && base.conteudos.length) {\n  for (const c of base.conteudos) {\n    rows.push({\n      json: {\n        projeto_id: base.projeto_id,\n        estado: base.estado,\n        status_agente: base.status_agente,\n        mensagem_log: base.mensagem_log,\n        saida: base.saida,\n        insert_mode: 'conteudo',\n        agente: 'copywriter',\n        tipo: c.tipo || 'post_instagram',\n        conteudo: c,\n        versao_prompt: 'copywriter-v0.2'\n      }\n    });\n  }\n}\n\n// always one update+log marker at end\nrows.push({\n  json: {\n    projeto_id: base.projeto_id,\n    estado: base.estado,\n    status_agente: base.status_agente,\n    mensagem_log: base.mensagem_log,\n    saida: base.saida,\n    insert_mode: 'finalizar',\n    agente: 'copywriter',\n    tipo: 'lote',\n    conteudo: base.saida,\n    versao_prompt: 'copywriter-v0.2'\n  }\n});\n\nreturn rows;"
      },
      "id": "code-explode",
      "name": "Code — explodir conteúdos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.insert_mode }}",
              "rightValue": "conteudo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-insert",
      "name": "IF — insert conteúdo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3160,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "conteudos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "copywriter"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "conteudo",
              "fieldValue": "={{ $json.conteudo }}"
            },
            {
              "fieldId": "versao_prompt",
              "fieldValue": "copywriter-v0.2"
            }
          ]
        }
      },
      "id": "supa-ins",
      "name": "Supabase — gravar conteúdo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3400,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "projetos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code — parse copy JSON').item.json.projeto_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "={{ $('Code — parse copy JSON').item.json.estado }}"
            }
          ]
        }
      },
      "id": "supa-upd",
      "name": "Supabase — estado escrito",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3400,
        40
      ],
      "notesInFlow": true,
      "notes": "Só no item finalizar (ramo false do IF)."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $('Code — parse copy JSON').item.json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "copywriter"
            },
            {
              "fieldId": "nivel",
              "fieldValue": "={{ $('Code — parse copy JSON').item.json.status_agente === 'ok' ? 'info' : 'warn' }}"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('Code — parse copy JSON').item.json.mensagem_log || 'Copywriter concluído' }}"
            }
          ]
        }
      },
      "id": "supa-log",
      "name": "Supabase — log copywriter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3640,
        40
      ]
    }
  ],
  "connections": {
    "Manual — testar agora": {
      "main": [
        [
          {
            "node": "Supabase — projetos planeados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — a cada 3 min": {
      "main": [
        [
          {
            "node": "Supabase — projetos planeados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — projetos planeados": {
      "main": [
        [
          {
            "node": "IF — há projeto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — há projeto?": {
      "main": [
        [
          {
            "node": "Limit — 1 projeto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit — 1 projeto": {
      "main": [
        [
          {
            "node": "Supabase — arquivos do projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — arquivos do projeto": {
      "main": [
        [
          {
            "node": "Code — montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — montar contexto": {
      "main": [
        [
          {
            "node": "IF — tem foto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — tem foto?": {
      "main": [
        [
          {
            "node": "Drive — download foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — sem foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — download foto": {
      "main": [
        [
          {
            "node": "Code — foto → base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — foto → base64": {
      "main": [
        [
          {
            "node": "Code — prompt Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — sem foto": {
      "main": [
        [
          {
            "node": "Code — prompt Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — prompt Copywriter": {
      "main": [
        [
          {
            "node": "HTTP — Claude (Copywriter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Claude (Copywriter)": {
      "main": [
        [
          {
            "node": "Code — parse copy JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — parse copy JSON": {
      "main": [
        [
          {
            "node": "Code — explodir conteúdos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — explodir conteúdos": {
      "main": [
        [
          {
            "node": "IF — insert conteúdo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — insert conteúdo?": {
      "main": [
        [
          {
            "node": "Supabase — gravar conteúdo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — estado escrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — estado escrito": {
      "main": [
        [
          {
            "node": "Supabase — log copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "outvibe": {
      "fase": 3,
      "prompt": "agents/prompts/copywriter.md",
      "modelo": "claude-sonnet-4-5"
    }
  },
  "pinData": {},
  "tags": []
}