n8n/workflows/04-social-media.json
{
  "name": "04 — Social Media Instagram",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual — testar agora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "sched",
      "name": "Schedule — a cada 3 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projetos",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "estado=eq.escrito"
      },
      "id": "supa-proj",
      "name": "Supabase — projetos escritos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "estado=escrito (pós Copywriter)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-proj",
      "name": "IF — há projeto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit",
      "name": "Limit — 1 projeto",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        740,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conteudos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=projeto_id=eq.{{ $json.id }}&agente=eq.copywriter"
      },
      "id": "supa-copy",
      "name": "Supabase — textos copywriter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const projeto = $('Limit — 1 projeto').item.json;\nconst conteudos = $input.all().map(i => i.json).filter(c => c.agente === 'copywriter' || !c.agente);\n\nreturn [{\n  json: {\n    projeto_id: projeto.id,\n    brief: projeto.brief || '',\n    plano: projeto.plano,\n    data_sugerida: (projeto.plano && projeto.plano.resultado && projeto.plano.resultado.data_sugerida_publicacao) || null,\n    conteudos_copy: conteudos.map(c => ({\n      id: c.id,\n      tipo: c.tipo,\n      conteudo: c.conteudo\n    }))\n  }\n}];"
      },
      "id": "code-ctx",
      "name": "Code — montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst system = \"# Agente Social Media — v0.2 (Instagram only)\\r\\n\\r\\nFontes adaptadas: [coreyhaines31/marketingskills](https://github.com/coreyhaines31/marketingskills) (`social`) + [blader/humanizer](https://github.com/blader/humanizer).\\r\\n\\r\\n## Papel\\r\\n\\r\\nRecebes o texto-mãe do Copywriter e adaptas **apenas para Instagram**. Nunca copies o texto-mãe à letra — muda ângulo, ritmo e registo para feed / Stories / Reels do IG.\\r\\n\\r\\n> MVP actual: só Instagram. TikTok, LinkedIn e Threads ficam desactivados até nova fase.\\r\\n\\r\\n## Conhecimento Instagram\\r\\n\\r\\n| Item | Regra |\\r\\n|------|--------|\\r\\n| Legenda | ~80–150 palavras (escaneável) |\\r\\n| Hook | 1.ª linha antes do \\\"ver mais\\\" — decide se abrem |\\r\\n| Hashtags | 3–5 relevantes no fim (não 30 genéricas) |\\r\\n| CTA | Um pedido claro (comentar, guardar, DM, link na bio) |\\r\\n| Formatos | `post_single`, `carousel`, `reel`, `story_series` |\\r\\n| Algoritmo | Saves e shares > likes; Reels têm mais alcance que estático |\\r\\n| Horários sugeridos | 11:00–13:00 ou 19:00–21:00 (ajustar se `memoria` tiver dados) |\\r\\n| Publicação | Humana — `notas_publicacao_manual` obrigatórias e concretas |\\r\\n\\r\\n### Por formato\\r\\n\\r\\n**post_single** — legenda + 1 foto; hook forte; CTA no fecho.\\r\\n\\r\\n**carousel** — Slide 1 = afirmação/pergunta bold; 1 ideia por slide; último slide = resumo + CTA. Na legenda: contexto + CTA (não repetir todos os slides).\\r\\n\\r\\n**reel** — Script mental na legenda/notas:\\r\\n- 0–2s hook visual/verbal\\r\\n- 2–5s setup\\r\\n- 5–25s valor\\r\\n- fecho CTA\\r\\nPrimeiro frame tem de prender.\\r\\n\\r\\n**story_series** — 3–7 frames curtos; usar stickers (poll, pergunta, countdown) nas notas manuais.\\r\\n\\r\\n## Saída (apenas JSON)\\r\\n\\r\\n```json\\r\\n{\\r\\n  \\\"projeto_id\\\": \\\"...\\\",\\r\\n  \\\"agente\\\": \\\"social_media\\\",\\r\\n  \\\"status\\\": \\\"ok\\\",\\r\\n  \\\"resultado\\\": {\\r\\n    \\\"publicacoes\\\": [\\r\\n      {\\r\\n        \\\"plataforma\\\": \\\"instagram\\\",\\r\\n        \\\"formato\\\": \\\"post_single | carousel | reel | story_series\\\",\\r\\n        \\\"texto_final\\\": \\\"...\\\",\\r\\n        \\\"hashtags\\\": [\\\"...\\\"],\\r\\n        \\\"foto\\\": \\\"nome_do_ficheiro.jpg\\\",\\r\\n        \\\"melhor_horario_sugerido\\\": \\\"HH:MM\\\",\\r\\n        \\\"notas_publicacao_manual\\\": \\\"instruções para quem vai publicar à mão\\\"\\r\\n      }\\r\\n    ]\\r\\n  },\\r\\n  \\\"qualidade\\\": 0,\\r\\n  \\\"problemas\\\": [],\\r\\n  \\\"proximo_agente\\\": null\\r\\n}\\r\\n```\\r\\n\\r\\n## Adaptação (≠ encurtar)\\r\\n\\r\\n1. Cada peça do Copywriter → 1 versão Instagram com formato adequado às fotos.\\r\\n2. Reescreve o hook para o feed (pode ser mais curto / mais oral).\\r\\n3. Quebra de linha generosa: 1 ideia por bloco; espaço em branco ajuda o scroll.\\r\\n4. CTA alinhado ao objetivo do Diretor (`educar` → guardar/comentar; `vender` → DM/link; `comunidade` → pergunta).\\r\\n5. Hashtags: mistura 1–2 de nicho + 1–2 de intenção + no máximo 1 ampla. Sem spam.\\r\\n\\r\\n## Anti-padrão IA (humanizer)\\r\\n\\r\\nNo `texto_final`:\\r\\n- Sem travessão (— / –).\\r\\n- Sem vocabulário de IA (*delve, landscape, pivotal, showcase, vibrant, groundbreaking, testament*).\\r\\n- Sem \\\"Não é só X, é Y\\\".\\r\\n- Sem emojis em série decorativa (no máximo 0–2 se o tom OutVibe pedir; default = zero).\\r\\n- Soa a pessoa a falar com outra pessoa, não a press release.\\r\\n\\r\\n## Notas de publicação manual (obrigatório)\\r\\n\\r\\nInclui o que o humano precisa fazer, por exemplo:\\r\\n- Crop / aspect ratio (1:1, 4:5, 9:16)\\r\\n- Ordem dos slides do carrossel e texto on-image se houver\\r\\n- Sticker de Story (poll, pergunta)\\r\\n- Cover frame do Reel\\r\\n- Localização / colaborações se fizer sentido\\r\\n\\r\\n## Auto-avaliação `qualidade` (0–100)\\r\\n\\r\\n- Hook IG na 1.ª linha (+25)\\r\\n- Formato certo para o material (+20)\\r\\n- Legenda nativa (não colada do texto-mãe) (+20)\\r\\n- Sem cheiro de IA (+15)\\r\\n- Notas manuais acionáveis (+20)\\r\\n\\r\\n## Regras de schema\\r\\n\\r\\n1. `plataforma` é sempre `\\\"instagram\\\"`.\\r\\n2. `status` só: `ok` | `erro` | `precisa_revisao` (nunca `completo`).\\r\\n3. `qualidade` é inteiro 0–100, não objeto.\\r\\n4. Se o texto-mãe for fraco: `precisa_revisao` e lista o que falta em `problemas`.\\r\\n\";\n\nconst userText = [\n  'Adapta os textos-mãe ABAIXO apenas para Instagram. Devolve APENAS JSON.',\n  'Uma publicação Instagram por cada texto-mãe.',\n  '',\n  'projeto_id: ' + ctx.projeto_id,\n  'brief: ' + (ctx.brief || ''),\n  '',\n  'plano_do_diretor (resumo):',\n  JSON.stringify(ctx.plano || {}, null, 2),\n  '',\n  'textos_mae_copywriter:',\n  JSON.stringify(ctx.conteudos_copy || [], null, 2)\n].join('\\n');\n\nconst body = {\n  model: 'claude-sonnet-4-5',\n  max_tokens: 8192,\n  system,\n  messages: [{ role: 'user', content: [{ type: 'text', text: userText }] }]\n};\n\nreturn [{ json: { projeto_id: ctx.projeto_id, data_sugerida: ctx.data_sugerida, anthropicBody: body } }];"
      },
      "id": "code-prompt",
      "name": "Code — prompt Social IG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "http",
      "name": "HTTP — Claude (Social IG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -80
      ],
      "notesInFlow": true,
      "notes": "Credencial Anthropic. Só Instagram."
    },
    {
      "parameters": {
        "jsCode": "const projetoId = $('Code — prompt Social IG').item.json.projeto_id;\nconst dataSugerida = $('Code — prompt Social IG').item.json.data_sugerida;\nconst resp = $input.first().json;\n\nconst text = (resp.content || [])\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n')\n  .trim();\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    projeto_id: projetoId,\n    agente: 'social_media',\n    status: 'erro',\n    resultado: { publicacoes: [] },\n    qualidade: 0,\n    problemas: ['JSON inválido: ' + e.message, text.slice(0, 500)],\n    proximo_agente: null\n  };\n}\n\nparsed.projeto_id = parsed.projeto_id || projetoId;\nparsed.agente = 'social_media';\n\nconst raw = String(parsed.status || '').toLowerCase().trim();\nconst okAliases = new Set(['ok', 'completo', 'complete', 'success', 'sucesso', 'done']);\nif (okAliases.has(raw)) parsed.status = 'ok';\nelse if (['precisa_revisao', 'revisao', 'review'].includes(raw)) parsed.status = 'precisa_revisao';\nelse if (['erro', 'error', 'fail', 'failed'].includes(raw)) parsed.status = 'erro';\nelse if (parsed.resultado && Array.isArray(parsed.resultado.publicacoes) && parsed.resultado.publicacoes.length) {\n  parsed.status = 'ok';\n} else {\n  parsed.status = 'erro';\n}\n\nif (parsed.qualidade && typeof parsed.qualidade === 'object') {\n  const n = Number(parsed.qualidade.nota);\n  parsed.qualidade = Number.isFinite(n) ? Math.round(n * (n <= 10 ? 10 : 1)) : 0;\n}\n\n// força instagram\nconst pubs = ((parsed.resultado && parsed.resultado.publicacoes) || []).map(p => ({\n  ...p,\n  plataforma: 'instagram'\n}));\nif (!parsed.resultado) parsed.resultado = {};\nparsed.resultado.publicacoes = pubs;\n\nconst estado = parsed.status === 'ok' ? 'adaptado' : 'erro';\n\nreturn [{\n  json: {\n    projeto_id: projetoId,\n    data_sugerida: dataSugerida,\n    estado,\n    saida: parsed,\n    publicacoes: pubs,\n    status_agente: parsed.status,\n    mensagem_log: parsed.status === 'ok'\n      ? ('Social Media IG: ' + pubs.length + ' versão(ões)')\n      : ('Social Media: ' + parsed.status)\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Code — parse social JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\nconst rows = [];\n\nif (base.status_agente === 'ok' && base.publicacoes.length) {\n  for (const p of base.publicacoes) {\n    rows.push({\n      json: {\n        insert_mode: 'conteudo',\n        projeto_id: base.projeto_id,\n        data_sugerida: base.data_sugerida,\n        estado: base.estado,\n        status_agente: base.status_agente,\n        mensagem_log: base.mensagem_log,\n        tipo: p.formato || 'post_instagram',\n        conteudo: p\n      }\n    });\n    rows.push({\n      json: {\n        insert_mode: 'publicacao',\n        projeto_id: base.projeto_id,\n        data_sugerida: base.data_sugerida,\n        estado: base.estado,\n        status_agente: base.status_agente,\n        mensagem_log: base.mensagem_log,\n        plataforma: 'instagram',\n        pub: p\n      }\n    });\n  }\n}\n\nrows.push({\n  json: {\n    insert_mode: 'finalizar',\n    projeto_id: base.projeto_id,\n    data_sugerida: base.data_sugerida,\n    estado: base.estado,\n    status_agente: base.status_agente,\n    mensagem_log: base.mensagem_log\n  }\n});\n\nreturn rows;"
      },
      "id": "code-exp",
      "name": "Code — explodir publicações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        -80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.insert_mode }}",
                    "rightValue": "conteudo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conteudo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.insert_mode }}",
                    "rightValue": "publicacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "publicacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.insert_mode }}",
                    "rightValue": "finalizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalizar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "switch",
      "name": "Switch — modo insert",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2420,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "conteudos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "social_media"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "conteudo",
              "fieldValue": "={{ $json.conteudo }}"
            },
            {
              "fieldId": "versao_prompt",
              "fieldValue": "social-media-ig-v0.2"
            }
          ]
        }
      },
      "id": "supa-cont",
      "name": "Supabase — gravar conteúdo IG",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2700,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "publicacoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $json.projeto_id }}"
            },
            {
              "fieldId": "plataforma",
              "fieldValue": "instagram"
            },
            {
              "fieldId": "data_sugerida",
              "fieldValue": "={{ $json.data_sugerida }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "por_publicar"
            }
          ]
        }
      },
      "id": "supa-pub",
      "name": "Supabase — linha publicações",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2700,
        -40
      ],
      "notesInFlow": true,
      "notes": "Calendário IG. texto fica em conteudos; esta linha marca por_publicar."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "projetos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code — parse social JSON').item.json.projeto_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "={{ $('Code — parse social JSON').item.json.estado }}"
            }
          ]
        }
      },
      "id": "supa-upd",
      "name": "Supabase — estado adaptado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2700,
        140
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $('Code — parse social JSON').item.json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "social_media"
            },
            {
              "fieldId": "nivel",
              "fieldValue": "info"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('Code — parse social JSON').item.json.mensagem_log || 'Social Media IG concluído' }}"
            }
          ]
        }
      },
      "id": "supa-log",
      "name": "Supabase — log social IG",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2940,
        140
      ]
    }
  ],
  "connections": {
    "Manual — testar agora": {
      "main": [
        [
          {
            "node": "Supabase — projetos escritos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — a cada 3 min": {
      "main": [
        [
          {
            "node": "Supabase — projetos escritos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — projetos escritos": {
      "main": [
        [
          {
            "node": "IF — há projeto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — há projeto?": {
      "main": [
        [
          {
            "node": "Limit — 1 projeto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit — 1 projeto": {
      "main": [
        [
          {
            "node": "Supabase — textos copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — textos copywriter": {
      "main": [
        [
          {
            "node": "Code — montar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — montar contexto": {
      "main": [
        [
          {
            "node": "Code — prompt Social IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — prompt Social IG": {
      "main": [
        [
          {
            "node": "HTTP — Claude (Social IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Claude (Social IG)": {
      "main": [
        [
          {
            "node": "Code — parse social JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — parse social JSON": {
      "main": [
        [
          {
            "node": "Code — explodir publicações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — explodir publicações": {
      "main": [
        [
          {
            "node": "Switch — modo insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — modo insert": {
      "main": [
        [
          {
            "node": "Supabase — gravar conteúdo IG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — linha publicações",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — estado adaptado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — estado adaptado": {
      "main": [
        [
          {
            "node": "Supabase — log social IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "outvibe": {
      "fase": "3b",
      "plataformas": [
        "instagram"
      ],
      "prompt": "agents/prompts/social-media.md"
    }
  },
  "pinData": {},
  "tags": []
}