n8n/workflows/05-output.json
{
  "name": "05 — Output Pronto_Para_Publicar",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual — testar agora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "sched",
      "name": "Schedule — a cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projetos",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "estado=eq.adaptado"
      },
      "id": "supa-proj",
      "name": "Supabase — projetos adaptados",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "notesInFlow": true,
      "notes": "Após Social Media IG. Credencial Supabase."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-proj",
      "name": "IF — há projeto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit",
      "name": "Limit — 1 projeto",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        740,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conteudos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=projeto_id=eq.{{ $json.id }}&agente=eq.social_media"
      },
      "id": "supa-ig",
      "name": "Supabase — peças Instagram",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const projeto = $('Limit — 1 projeto').item.json;\nconst itens = $input.all().map(i => i.json);\nconst sociais = itens.filter(c => c.agente === 'social_media');\n\nconst tema = (projeto.plano && projeto.plano.resultado && projeto.plano.resultado.tema) || projeto.brief || 'Sem tema';\nconst dataPub = (projeto.plano && projeto.plano.resultado && projeto.plano.resultado.data_sugerida_publicacao) || '';\nconst cta = (projeto.plano && projeto.plano.resultado && projeto.plano.resultado.cta_da_campanha) || '';\n\nconst lines = [];\nlines.push('# OutVibe — Pronto para publicar (Instagram)');\nlines.push('');\nlines.push(`- **Projeto:** \\`${projeto.id}\\``);\nlines.push(`- **Tema:** ${tema}`);\nlines.push(`- **Brief / ficheiro:** ${projeto.brief || '—'}`);\nlines.push(`- **CTA campanha:** ${cta}`);\nlines.push(`- **Data sugerida:** ${dataPub || '—'}`);\nlines.push(`- **Gerado em:** ${new Date().toISOString()}`);\nlines.push('');\nlines.push('> Publicação **manual**. Copia cada bloco para o Instagram.');\nlines.push('');\nlines.push('## Calendário rápido');\nlines.push('');\n\nsociais.forEach((row, idx) => {\n  const c = row.conteudo || {};\n  const formato = c.formato || row.tipo || ('peca-' + (idx + 1));\n  const hora = c.melhor_horario_sugerido || '—';\n  lines.push(`${idx + 1}. **${formato}** — ${dataPub || 'data TBD'} ${hora} · foto: ${c.foto || projeto.brief || '—'}`);\n});\n\nlines.push('');\nlines.push('---');\nlines.push('');\n\nsociais.forEach((row, idx) => {\n  const c = row.conteudo || {};\n  const formato = c.formato || row.tipo || ('peca-' + (idx + 1));\n  const texto = c.texto_final || JSON.stringify(c, null, 2);\n  const tags = Array.isArray(c.hashtags) ? c.hashtags.map(h => h.startsWith('#') ? h : '#' + h).join(' ') : '';\n  const notas = c.notas_publicacao_manual || '—';\n  const hora = c.melhor_horario_sugerido || '—';\n\n  lines.push(`## ${idx + 1}. Instagram — ${formato}`);\n  lines.push('');\n  lines.push(`- Horário sugerido: **${hora}**`);\n  lines.push(`- Foto: \\`${c.foto || projeto.brief || '—'}\\``);\n  lines.push('');\n  lines.push('### Legenda (copiar)');\n  lines.push('');\n  lines.push('```');\n  lines.push(texto);\n  if (tags) {\n    lines.push('');\n    lines.push(tags);\n  }\n  lines.push('```');\n  lines.push('');\n  lines.push('### Notas para publicar à mão');\n  lines.push('');\n  lines.push(notas);\n  lines.push('');\n  lines.push('---');\n  lines.push('');\n});\n\nconst markdown = lines.join('\\n');\nconst safeTema = String(tema).replace(/[^\\w\\-]+/g, '_').slice(0, 40);\nconst filename = `IG_${safeTema}_${String(projeto.id).slice(0, 8)}.md`;\n\nconst binary = await this.helpers.prepareBinaryData(\n  Buffer.from(markdown, 'utf8'),\n  filename,\n  'text/markdown'\n);\n\nreturn [{\n  json: {\n    projeto_id: projeto.id,\n    filename,\n    markdown_preview: markdown.slice(0, 500),\n    n_pecas: sociais.length,\n    mensagem_log: 'Output Drive: ' + filename + ' (' + sociais.length + ' peças IG)'\n  },\n  binary: { data: binary }\n}];"
      },
      "id": "code-md",
      "name": "Code — montar Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -80
      ],
      "notesInFlow": true,
      "notes": "Gera .md com legendas + calendário + notas manuais."
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10ER87nbWmwOAnMucEBP5X4wYDmlrjGP0",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-up",
      "name": "Drive — upload Pronto_Para_Publicar",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1460,
        -80
      ],
      "notesInFlow": true,
      "notes": "Folder Pronto_Para_Publicar. Credencial Google Drive. Binary = data."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "projetos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Code — montar Markdown').item.json.projeto_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "pronto"
            }
          ]
        }
      },
      "id": "supa-upd",
      "name": "Supabase — estado pronto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1700,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "projeto_id",
              "fieldValue": "={{ $('Code — montar Markdown').item.json.projeto_id }}"
            },
            {
              "fieldId": "agente",
              "fieldValue": "output"
            },
            {
              "fieldId": "nivel",
              "fieldValue": "info"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('Code — montar Markdown').item.json.mensagem_log || 'Output Drive escrito' }}"
            }
          ]
        }
      },
      "id": "supa-log",
      "name": "Supabase — log output",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1940,
        -80
      ]
    }
  ],
  "connections": {
    "Manual — testar agora": {
      "main": [
        [
          {
            "node": "Supabase — projetos adaptados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — a cada 5 min": {
      "main": [
        [
          {
            "node": "Supabase — projetos adaptados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — projetos adaptados": {
      "main": [
        [
          {
            "node": "IF — há projeto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — há projeto?": {
      "main": [
        [
          {
            "node": "Limit — 1 projeto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit — 1 projeto": {
      "main": [
        [
          {
            "node": "Supabase — peças Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — peças Instagram": {
      "main": [
        [
          {
            "node": "Code — montar Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — montar Markdown": {
      "main": [
        [
          {
            "node": "Drive — upload Pronto_Para_Publicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — upload Pronto_Para_Publicar": {
      "main": [
        [
          {
            "node": "Supabase — estado pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — estado pronto": {
      "main": [
        [
          {
            "node": "Supabase — log output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "outvibe": {
      "fase": 4,
      "folder_pronto": "10ER87nbWmwOAnMucEBP5X4wYDmlrjGP0",
      "requer_anthropic": false
    }
  },
  "pinData": {},
  "tags": []
}
